body {
  background: linear-gradient(90deg, #7361ff, #bfff70);
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 1vmax;
  margin-bottom: 2vmax;
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1vmax;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: antiquewhite;
}

img {
  width: 39%;
  margin-top: 1vmax;
  margin-bottom: 0.5vmax;
  margin-left: 1vmax;
  margin-right: 1vmax;
}

section:first-child{
  margin-top: 1vmax;
}

section:last-child{
  margin-bottom: 1vmax;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-style: oblique;
  margin-bottom: 2vmax;
}

fieldset{
  border:3px solid black;
}

/* Inscription */

label{
  width: 200px;
  display: inline-block;
  text-align: right;
  margin-right: 40px;
  margin-bottom: 5vmax;
}

input{
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}

#buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 12%;
}

/* Connection */

legend{
  font-size: xx-large;
  color: black;
  margin-bottom: 30px;
}

label.profil{
  width: 200px;
  display: inline-block;
  text-align: center;
  margin-right: 0px;
  margin-bottom: 0vmax;
}

#imgProfil{
  width: 5vmax;
  border-radius: 50%;
  border: 0.2rem solid black;
  padding: 0.5rem ;
}