html {
    display: grid;
    grid-template-columns: 1fr 1fr;
  background: linear-gradient(333deg, #7361ff, #bfff70);
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin-left: 5px;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(43, 226, 73);
  font-style: oblique;
  margin-bottom: 40px;
}

img {
    width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}